@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



html{

    font-size: 15px;
    width: 100%;
    height: 100%;

}



* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.dashboard-container {

    width: 100%;
    height: 100%;

}

.side-des-nav {

    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
    position: relative;
}

.web-logo {

    width: 70%;
    height: 10%;
    margin-top: 2.5em;

}

.nav-items {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 25vh;
    


}

.nav-btn {

    display: flex;
    width: 100%;
    height: 4.5em;
    justify-content: start;
    align-items: center;
    gap: 0.6em;
    padding-left: 3em;
    cursor: pointer;
    border: none;
    background-color: transparent;


}

.nav-btn-active {

    border-right: 5px solid #192655;
    background: rgba(217, 217, 217, 0.10);


}

.nav-icon {

    width: 10%;
    height: 35%;
}

.nav-btn-name {

    color: #192655;
    font-family: Poppins;
    font-size: 1.3vmax;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dash-upper {

    position: absolute;
    top: 0;
    right: 0;
    width: 82vw;
    height: 25vh;
    /* border: 1px solid yellowgreen; */
    background-image: url("../assets/background-dark-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    align-items: center;
    

}

.dash-heading {

    color: #FFF;
    font-size: 2.3vmax;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 0.4vmax;
    width: 25%;
    margin-left: 3%;
    margin-top: -2%;
    
}

.dash-head-profile-sec {

    width: 30%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -2%;
    gap: 1.176em;
    padding-right: 0.;
    cursor: pointer;

}

.dash-head-profile-sec h3 {

    color: #fff;
    font-size: 1vmax;
    text-decoration: underline;


}

.dash-head-profile-sec img {

    width: 20%;
    height: 60%;
    border-radius: 50%;

}

.dash-content {

    width: 82%;
    height: 75%;
    position: absolute;
    right: 0;
    top: 25%;
    background: rgba(217, 217, 217, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px 2vw;



}

.small-card {

    width: 30%;
    height: 30%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: -8vh;
    display: flex;


}

.small-left {

    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}



.small-para {

    color: #192655;
    font-family: Poppins;
    font-size: 1.5vmax;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.1vmax;

}

#view-para {

    width: 10vw ;
    height: 20vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.small-right {

    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#views-icon {

    width: 4vw;
    height: 8vh;
    margin-top: 3vh;

}

.view-count {

    width: 100%;
    height: 40%;
    border-radius: 10px 0px;
    background: rgba(13, 110, 253, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Poppins;
    font-size:  3vmax;;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 1px;

}

.edit-card {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 1vmax;
}

.small-top {

    width: 100%;
    height: 60%;
    display: flex;
    gap:  2.7vmax;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#edit-para {
    width: 50%;

}

#editMenu-icon {

    width: 25%;
    height: 70%;
}

.edit-btn {

    width: 100%;
    height: 30%;
    border-radius: 10px;
    background: #6EC7B0;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.6vmax;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-decoration: none;

}

.edit-btn:hover {

    opacity: 0.9;
}

.edit-btn img {

    width: 7%;
    height: 50%;
}

.large-card {

    width: 30%;
    height: 70%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;

}

.large-heading {

    color: #192655;
    font-family: Poppins;
    font-size: 2vmax;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

#social-media-card {


    padding-top: 1%;
    justify-content: start;
    position: relative;

}

.social-bottom{

    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 2vh;

}

.social-para {

    color: #192655;
    font-family: Poppins;
    font-size: 1.6vmax;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 80%;
    /* margin-top: 1vh; */
    margin-left: 1.6vmax;

}

.social-icons {

    width: 50%;
    height: 15%;
    display: flex;
    gap: 0.666em;
    justify-content: center;
    align-items: center;
    /* margin-top: 1vh; */
    margin-left: 1.333em;
}

.social-icons img {

    height: 100%;
    width: 30%;

}


#social-activate-btn {

    margin: 0 auto;
    width: 90%;
    border: none;
    border-radius: 10px;
    background: rgba(13, 110, 253, 0.80);
    height:15%;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.6vmax;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    

}

#social-activate-btn:hover {

    opacity: 0.9;
    cursor: pointer;
}

#active-theme-card {

    justify-content: center;
    align-items: center;
    padding-top: 1.5vh;
    
}

.active-Theme-img {

    width: 60%;
    height: 75%;
    margin-top: 2vh;
    margin-bottom:0.5vh;
}

.active-theme-name {

    color: #192655;
    font-family: Poppins;
    font-size: 1.2vmax;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.0733em;
}

#subscription-card {

    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.sub-price {

    position: absolute;
    top: 0;
    right: 0;
    background: #EF4040;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.6vmax;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    border-bottom-left-radius: 10px;


}

.days-left {

    color: #192655;
    font-family: Poppins;
    font-size: 2vmax;
    font-style: normal;
    font-weight: 600;
    margin: 5vh auto 0 auto;
    text-align: center;
    line-height: 150%;
    height: 30%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    /* border: 1px solid rebeccapurple; */

}

.days-left span {


    font-size: 5vmax;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
}

.plan-expire-para {

    text-align: center;
    color: #192655;
    font-family: Poppins;
    font-size: 1.7vmax;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.07333em;
    margin-top: 1.5vh;
}

.plan-expire-para span {

    color: #EF4040;
    font-size: 2vmax;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    
}

.sub-button {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8vw;
    gap: 1.333em;
    margin-top: 1.5vh;


}

.sub-button button {

    width: fit-content;
    padding:1vh 1vw;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.333rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0666em;
    border: none;
    border-radius : 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.sub-button button:hover {

    opacity: 0.9;
}