@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jost:ital,wght@1,300&family=Lato:wght@300&family=Noto+Sans+JP:wght@100&family=Ubuntu:wght@300&display=swap');
/* pop */

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jost:ital,wght@1,300&family=Lato:wght@300&family=Noto+Sans+JP:wght@100&family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');
  /* FONTS FOR LOGO */
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,800&display=swap');

  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400');




:root{
    --text: #3f3f3f;
    --background: #e4e4e4;
    /* --primary: #A076F9; */
    /* --primary: #7e4cff; */
    /* --primaryDark : #6528F7; */
    /* --primaryDark : rgb(69, 45, 132); */
    /* --navPrimaryDark :  #4819b4;  */
    /* --navPrimaryDark : #1b1037 ; */
    /* --secondary: #e1e9fb; */
    /* --accent: #0082ce; */
    --primaryDark : #0B666A;
    --navPrimaryDark : #071952;
    --primary : #0B666A;
    --alertRed : #C70039;
    --secondary :#F5EDDC;
}
/* to not select text check */
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

*{
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    scrollbar-color: var(--background);
    scroll-behavior: smooth;
    
    /* color: #333; */
    
}



/* span,p{
    color: #333;
} */

h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
}

body{
    color: var(--text);
    background-color: var(--navPrimaryDark) !important;
    /* background-color: #0082ce; */
}
.navbar-brand > h2{
    font-family: 'Bodoni Moda', serif;
}
.navbar{
    background-color: rgba(255, 255, 255, 0) !important;
}
.offcanvas{
    background-color: var(--navPrimaryDark) !important;
}
.myMMOlogo{
    height: 3rem;
    /* filter: invert(1); */
    mix-blend-mode: lighten;
    /* width: 100%; */
    position: relative;
    /* right: 5px;
    top: 2px; */
    /* margin: 0.4rem; */
    z-index: 1;
    /* margin-left: 4.5rem; */


}

.container{
    max-width: 1140px;
    z-index: 11;
    background-color: whitesmoke;
    margin: 5% 20%;
    padding: 0.8rem;
    border-radius: 10px;

}
.container > h2,h1{
    font-weight: bolder;
    text-align: center;
    margin: 1rem;

}
.container > h1{
    font-weight: bolder;
    margin: 1rem;
    
}
.myleftright{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 1.4rem;
}

.leftBlock{

    width: 100%;
    height: 57vh;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    /* border:1px solid black; */
    padding: 1rem;

}

.rightBlock{
    
    
    width: 100%; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    


}

.grayBlock{
    border-radius: 50%;
    border-radius: 1rem;
    height: 80%;
    width: 80%;
    background-color: gray;
    margin: auto;
    display: flex;
    justify-content: center;

}

.myImgForEdit{
    border-radius: 1rem;
    height: 60%;
    width: 10rem;
    /* background-color: gray; */
    margin: auto;
    display: flex;
    justify-content: center;
    object-fit: cover;
    /* overflow: hidden; */
    /* border: 1px solid black; */
    border-radius:  50%;
}
.myImgForEdit > img{

    /* padding: 1rem; */
    border-radius:  50%;
}



.imgSpan{
    color: #333;
    font-size: 4rem;
    margin: auto;
}
.form-outline{
    outline: gray;
}
.inputArea{
    background-color: var(--background);
    /* background-color: #121212; */
    height: 3rem;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 90%;
    margin: 1rem  auto;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 0.5rem;
}
.inputArea:hover{
    border-color: var(--primary) !important;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--primary) !important; */
}
/* .inputArea:focus{
    border-color: var(--primaryDark);
    border-width: 2px ;
} */
.inputArea:hover > input{
    color: #121212;
    font-weight: bold;
    transition: 0.3s;

}



.editS{
    background-color: var(--text);
    border-radius: 50%;
    padding: 3px;
    color: var(--background);
    position: relative;
    bottom: 56px;
    left: 38%;
  
}
.inputArea > span{
    margin: 0 0.5rem;
    color: var(--text);
}
::placeholder{
    opacity: 1;
    color: var(--text);
}

.inputArea > input{
    z-index: 111;
    background-color: var(--background);
    border: none;
    color: var(--text);
    outline: none;
    width: 100%;
}

.form-select > option{
    background-color: var(--accent);
    outline: none;
    border: none;
}
.form-select {
    background-color: #0082ce;
}
.input-group{
    /* background-color: var(--background); */
    /* background-color: gray; */
    outline: none;
    border: none;
}
.myResNextB{
    position: relative;
    left:90% ;
    /* top: 20px; */
    background-color: var(--primaryDark) !important;
    border-color:var(--primaryDark) !important;
    color: whitesmoke !important;
    font-weight: bolder !important;
    opacity: 0.9;
    font-family: 'Ubuntu', sans-serif !important;
}
.myResNextB:hover{
    opacity: 1;
    transition: 0.3s;
}
.Check{
    justify-content: space-evenly;
    /* color: gray; */
}
.overflowS{
    overflow: scroll;
    position: relative;
    /* bottom: 20px; */
    scrollbar-color: var(--background);
    /* height: 25rem; */
}
.form-select{
    background-color: var(--background) !important;
    border: none !important;
}
/* nocategory */
.noCategory{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;    
}
.flexCol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
    /* width: 100%; */
    /* z-index: 50; */
    overflow:hidden;
    height: 480px;
}

.addGrayButtonBox{

    height: 10rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0.8rem;
    background-color: rgba(128, 128, 128, 0.466);
    color: var(--text);
    text-decoration: none;
    border-radius: 1rem;

}
.addGrayButtonBox > span{
background: #333;
border-radius: 50%;
padding: 3px;
color: whitesmoke;

}
.addGrayButtonBox:hover > span{
    transform: scale(1.2);
    transition: 0.3s;
}

/* list category */
.upperListCategory{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    text-align: center;
    color: var(--text);
    /* overflow: scroll; */   
    /* scrollbar-color:  red; */
    scrollbar-color: var(--background);
    padding: 0.8rem;
    
    
}
.categoryItem{
    color: var(--background);
    background-color: #301c60;
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: center; */
    /* text-align: center; */
    color: var(--text);
    border: 1px solid gray;
    width: 35rem;
    height: 20rem;
    margin: 1rem auto;
    /* outline: rgb(7, 7, 7) -3px; */
    /* outline: 5px solid whitesmoke; */
    border: 1px solid var(--primaryDark);
    border-radius: 1rem;
}
.categoryItem > h4{

    color: whitesmoke;
    font-weight: bolder;
    padding: 0.2rem;
    border-bottom: 1px solid whitesmoke;
    margin: 0 1rem;
    padding: 1rem 0;

}
.categoryButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.categoryButton > p{
    margin: auto;
    /* border: 1px solid whitesmoke; */
    width: 80%;
    /* border-bottom: none !important; */
    /* color: var(--text); */
    color: whitesmoke !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0.5rem auto; */
    padding: 0.5rem;
    background-color: var(--primaryDark);
    margin: 0.5rem ;
    cursor: pointer;
    border-radius: 1rem;
    opacity: 1;
}
.myActionButton{
    margin: auto;
    /* border: 1px solid var(--navPrimaryDark); */
    width: 80%;
    /* border-bottom: none !important; */
    /* color: var(--text); */
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0.5rem auto; */
    padding: 0.5rem;
    background-color: #0B666A;
    font-weight: bolder;
    margin: 1rem ;
    cursor: pointer;
    border-radius: 1rem;
        box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
    /* opacity: 0.8; */
}
.myActionButton:hover{
    opacity: 0.9;
}
.categoryButton > p:hover{
    opacity: 0.8;
    user-select: none;
}

p> span{
    margin: 0 0.2rem;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.nameCategory{
    display: flex;
    color: whitesmoke;
    font-weight: bolder;
    margin: 1rem 0.2;
    padding: 0.5rem;
    border-bottom: 1px solid whitesmoke;
    align-items: center;
    align-content: center;

}
.nameCategory > h4{
    font-weight: bolder;
}
.nameCategory >img{
    height: 2.5rem;
    border-radius: 50%;
    padding: 2px;
    margin: 0 0.5rem;
}
.itermList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 3.2rem;
    /* padding: 0.3rem; */
    /* border-bottom: 1px solid var(--navPrimaryDark); */
    margin: 0.2rem 0.7rem;
    /* background-color: var(--primaryDark); */
    border-radius: 1rem;


}

.myListBtn{
    justify-content: center !important;
}
.cateloginList{
    /* border: 1px solid black; */
    border-radius: 5px;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    /* background-color:#7f4cff77 ; */
    /* background-color: rgba(128, 128, 128, 0.322); */
    background-color: #333;
    margin: 0 0.5rem;
}
.itemListScroll{
    /* background-color:#7f4cff77 ; */
    border-radius: 5px;
    /* border : 1px solid black; */
    height: 100%;
    width: 70%;
    overflow: scroll;

    
}
.cateloginList > img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;

}
.cateloginList > h3{   
    /* color: #121212; */
    margin: 1rem auto;
    font-weight: bolder;
    color: whitesmoke;
}
.itermListBlock{
    border-radius: 7px;
    color: var(--text);
    margin-bottom: 1.2rem;
    padding: 0.4rem;
    background-color: #f5eddc;
    height: 30%;
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: 2px solid var(--primaryDark);
    
  
}
.listnewItem{
    justify-content: space-between;


}
.listnewItem > h6{
    margin-left: 1rem;
}
.listnewItem > p{
    /* color: var(--text) !important; */
    width: 25%;
    /* border: 1px solid var(--navPrimaryDark); */
       box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);

}
.makeBoldColor{
    color: var(--navPrimaryDark) !important;
}

@media only screen and (max-width: 600px) {
   .myleftright{
    flex-direction: column !important;

   }
   .itermListBlock{
    height: 26% !important;
   }
   .heightMax{
    height: 80vh !important;
   }
   .container{
    height: fit-content;
    margin:  15% 20%;
   }
   .leftBlock{
        height: 20rem !important;
   }
   .rightBlock{
    height: fit-content;
   }
   .myResNextB{
    left: 80% !important;
   }
   .navbar{
    margin-bottom: 2rem;
    background-color: var(--navPrimaryDark) !important;
   }
   .container > h2{
    text-align: center;
    /* margin: auto !important; */
    /* margin-top: 0.5rem !important; */
   
   }
   .rightBlock{
    padding: 0 !important;
    padding-bottom: 1rem !important ;
   }
   .inputArea:hover{
    border-width: 1.8px;
   }
   .categoryItem{
    height: auto;
    width: 100%;
   }
   .categoryButton > p {
    padding: 0.5rem !important;
    width: min-content;
   }

   .cateloginList :nth-child(1){
    order: 1
}
    .cateloginList :nth-child(3){
    order: 3
}
.flexCol{
    flex-direction: column;
}
.cateloginList{
    width: 100%;
    flex-direction: row;
}
.cateloginList > img{
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 0.4rem;
}
.cateloginList > p{
    width: fit-content;
}
.cateloginList > h3{
    position: relative;
    /* right: 10%; */
}
p > span {
    font-size: 1rem !important;
}
.itermList > h4 {
     font-size: 1.2rem;
}
.listnewItem > h6{
    font-size: 10px;
}

.itemListScroll{
    width: 110%;
    margin: 1rem;
}


 
   
}

@media only screen and (min-width: 700px){
    .cateloginList > h3{

        width: 100%;
        text-align: center;
        padding: 1rem;
        background-color: var(--primaryDark);
        color: var(--background) !important;
        margin: 0;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
    }
    .setWidthforItem{
        width: 70% !important;
        margin: auto;
    }
    .mesageAlartShow{
        width: 55%;
        top :12% !important;
        padding: 0.7rem !important  ;

    }
    .alertMeassge{
        margin: 1rem auto;
    }
    .upperListCategory{
        margin: 5% auto !important;
        overflow: scroll !important;
        height: 45vh !important;
    }
    .addCategoryButtonBlock{
           /* box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09); */
    }
    .container{
        /* position: fixed; */
        /* margin: auto; */
        margin-bottom: 0 !important ;
    }
   

}

.inputArea:hover > span{
 color: var(--primaryDark);
}

input[type="radio"]{
    accent-color: var(--primaryDark) !important;
    border: 2px solid red;
    
  }

  .upperListCategory{
    margin-bottom : 2rem ;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* overflow: scroll; */
    justify-content: space-around;
    /* height: 45vh; */
  }
  .categoryListIterm{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
    /* border: 1px solid black; */
    /* justify-content: space-evenly; */
    width: 45%;
    margin: 1rem auto;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--secondary);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  }
  .catListleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:var(--text) ; ;
    /* background-color:#7f4cff77 ; ; */
    width: 47%;
    /* margin: auto; */
  }
  .catListRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: fit-content;
    margin: auto;
    /* background-color: rgba(128, 128, 128, 0.399); */
  }

  .catListleft > img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin: 1rem;
    object-fit: cover;

  }
  .catListleft > h6 {
    color: var(--background);
  }
  .setFixheight{
    height: 100vh !important;
  }
  .catListFlex{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
  }
  .catListFlex > h2 {
    text-align: center;
    margin-bottom: 1rem;
    height: 2.5rem;
    margin: 0.5rem auto;
    padding: 0.3rem;

  }
  .addCategoryButtonBlock{
    height: 3rem;
    width: fit-content;
    border: 1.5px solid var(--primaryDark);
    margin: 1rem auto;
    padding: 0.2rem;
    background-color: var(--background);
    color: var(--primaryDark);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 1rem;
    position: fixed;
    bottom: 1rem;
    width: 50%;
   left: 25%;
   right: 25%;


    z-index: 111;


  }
  
.addCategoryButtonBlock:hover{
      background-color: var(--primaryDark) !important;
      color: whitesmoke !important;
      /* z-index: 11; */
      transition: 0.3s;
      
    }
  .addCategoryButtonBlock > p,span {
    margin: auto 0.3rem;
  }

  @media only screen and (max-width: 600px){
    .upperListCategory{
        height: fit-content;

    }
    .categoryListIterm{
        width: 100%;
    }
    .catListRight{
        width: 51%;
    }
    .buttonListEdit{
        justify-content: center !important;
    }
    #offcanvasDarkNavbar{
        width: 69% !important;
    }

    .container{
        margin: 0 !important;
        margin-top: 15%  !important;
        /* max-height: 100%; */
        padding-bottom: 10%;
        
    }
    body{
        background-color: whitesmoke !important;
        border: none !important;
        box-shadow: white ;
    }
  }

  
 



.buttonListEdit{
    display: flex;
    justify-content: end;
  }
  .buttonBlockEditItem{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0.5rem 1rem;
    /* border: 1px solid var(--primaryDark); */
    padding: 0.5rem;
    background-color: var(--primaryDark);
    /* color: var(--navPrimaryDark) !important; */
    border-radius: 0.6rem;
    outline: none;
    border: none;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);

  }
  .buttonBlockEditItem:hover{
    opacity: 0.9;
  }
  #deleteButton{
    background-color: var(--alertRed) !important;

  }
  .buttonBlockEditItem , .buttonListEdit :hover{
    cursor: pointer;
  }
  .buttonBlockEditItem > p {

    margin: auto   0.5rem ;
    color: var(--background);
    font-weight: bolder;
  }
  .buttonBlockEditItem > span{
    color: var(--background);
  }

#deleteButton:hover{

    background-color: rgb(214, 22, 22);
    transition: 0.3s;
    border-color: whitesmoke;
    
}
#saveChangeButton:hover{

    background-color: rgb(34, 162, 34);
    transition: 0.3s;
    border-color: whitesmoke;
    
}
.makenewBackground{
    background-color: #0B666A !important;
}
.makeBoldColor{

    color: var(--primary) !important;
}

.mesageAlartShow{
        /* height: 2.5rem; */
        padding: 0.5rem;
        text-align: center;
        /* background-color: #333; */
        margin: auto;
        position: relative;
        top: 10%;
        z-index : 200;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* position: absolute; */
        position: fixed;
        
        left: 5%;
        right: 5%;
        border-radius: 0px 0px 10px 10px  ;
        /* border-radius: 1rem; */
        animation: myAnimaiton  3s ease-in-out 1 alternate ;
    }
    .alertMakeFlex{
        display: flex !important;
        
    }
    
    #myNotification{
   

}
.greenColorAlert{
    border-bottom: 2px solid 	#198754;
    background-color: 	#7ebc9e;
    border: 1px solid whitesmoke;
    border: 2px solid 	#7ebc9e;;
    color: whitesmoke;
}
.redColorAlert{
    border-bottom: 2px solid 	#ff340b;
    background-color: 	#e4231c;
    border: 1px solid whitesmoke;
    border: 2px solid 	#b12013;;
    color: whitesmoke;
}


.mesageAlartShow > h6{
    /* margin: 0.4rem auto; */
    margin:  0.5rem auto;
    text-align: center;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}

.fade-out {
    animation: fadeOut 1s ease forwards;
}

.socialMediaInput{
    /* box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09); */
    /* border: 1px solid gray; */
    padding: 1rem;
    margin: 0.5rem auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.form-control:focus {
    border-color: var(--accent) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--accent) !important;
  }

  .socilaMediaTitle{
    margin-top: 2.5rem;
  }

  /* nav action */
  .navList{
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    /* width: 50% ; */
    color: whitesmoke;
    font-weight: bolder;
  }
  .navItem{
    margin: auto 1rem;
    /* border: 1px solid #071952; */
    padding: 0.2rem;
  }



  @media  screen and (min-width : 700px) {

    .navbar-toggler{
        display: none !important;
    }

    .inviBlockforCategory{
        display: none !important;
    }
  }

  @media  screen and (max-width : 700px) {

    .navList{
        display: none !important;
    }
  }

  .animated{
    text-decoration: none;
    display: inline-block;
 }
 .animated::after{
    content: '';
    display: block;
    width: 0;    /* Hide border initially */
    height: 2px;
    background: whitesmoke;
    transition: width 0.3s ease;
 }
 .animated:hover::after{
    width: 100%;  /* Show border on hover */

 }

 .inviBlockforCategory{

    height: 5rem;
 }
 .inviBlockforCategory > h2{
    color: whitesmoke;
 }

   


