<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1>{{menu.id}}</h1>
    <h3>The point is I can do any changes here and it will reflect in the frontend</h3>
    <h1>{{menu.business_name}}</h1>
    {% comment %} <img src = "{{menu.logo.url}}" alt=""> {% endcomment %}
    <h2{{menu.logo}}</h2>
{% for head in headers %}
    {% comment %} <img src="{{ head.header.image.url }}" alt=""> {% endcomment %}
    <h2>{{head.header.header_text}}</h2>
    
    {% for item in head.item %}
        <h4>{{item.item_name}}  | {{item.price}}</h4>
    {% endfor %}
        
{% endfor %}
    
</body>
</html>