{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static 'css/styleAdmin.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Nav bar  start-->
    {% include 'client/navBar.html' %}

    
    
    <form
    action=""
    method="POST"
    class="container"
    enctype="multipart/form-data"
    >



    {% csrf_token %}
      <h2>Edit Category</h2>
      <div class="myleftright">
        <div  class="leftBlock">
     
          <input
            accept="image/x-png,image/gif,image/jpeg"
            type="file"
            name="image"
            id="input_file1"
            hidden
          />
        
          <div onclick="open_file1()" class="myImgForEdit">
            {% if header.image %}
            <img src="{{header.image.url}}" alt="">
            {% else %}
            <img src="{% static "images/sadfrog.jpg" %}" alt="">
            {% endif %}
          </div>

          <div onclick="open_file1()" id="" class="buttonBlockEditItem">
            <span class="material-symbols-outlined">change_circle</span>
            <p>Change Image</p>
          </div>  
          <p id="fileName">Add Logo of Category</p>
         
        </div>
        <div class="rightBlock">
          <!-- name  -->
          <div class="inputArea">
            <span class="material-symbols-outlined"> border_color </span>
            <input
              type="text"
              placeholder="Category Name"
              name="categoryName"
              value="{{header.header_text}}"required
            />
          </div>
          <!-- phone no. -->
          <div class="inputArea">
            <span class="material-symbols-outlined"> description </span>
            <input
              type="text"
              placeholder="Description"
              name="description"
              size="10"
              value="{{header.description}}"
            />
          </div>
        </div>
      </div>
      {% comment %} onclick="parent.location.href='item.html'" {% endcomment %}
      <!-- <button type="submit" class="myResNextB btn btn-outline-primary">
        Save Changes
      </button> -->
      <div class="buttonListEdit">
        <button type="submit"  id="saveChangeButton" class="buttonBlockEditItem" name="saveSubmit">
          <span class="material-symbols-outlined">change_circle</span>
          <p>Save</p>
        </button>
          
        <button onclick="deleteAction()" type="submit" id="deleteButton" class="buttonBlockEditItem" name="deleteSubmit">
          <span class="material-symbols-outlined">delete</span>
          <p>Delete</p>
        </button>  


      </div>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script>
      function open_file1() {
        document.getElementById("input_file1").click();
      }
      // Get file input element
      let fileInput = document.getElementById("input_file1");
      let span = document.getElementById("fileName");

      // Fires on file upload
      fileInput.addEventListener("change", function (event) {
        // Get file name
        let fileName = fileInput.files[0].name;

        // Update file name in span
        newStringName = fileName.slice(0, 15) + "...";

        span.innerText = newStringName;
      });
      // Alert action
    //   setTimeout(function() {
    // element = document.getElementById("myNotification");
  
    // element.classList.add("alertMakeFlex");
    // }, 1000);

    // setTimeout(function() {
    // element = document.getElementById("myNotification");
  
    //   element.parentNode.removeChild(element);
    
    // }, 5000);

    deleteAction = ()=> {
      confirm("Do you want to Delete this Item ? ")
    }







    </script>
  </body>
</html>
