{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static '/css/styleDash.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleAdmin.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <!-- Nav bar  start-->
    {% include 'client/navBar.html' %}
    <div class="mmoDashContainer" id="blur">
        <div class="dashBfirstBlock">
            <div class="dashFirstItem profileBlock">
                <!-- profile -->
                <div class="profileImg">
                    <img src="{% static '/images/profileMe.jpeg' %}" alt="">
                </div>
                <div class="profileDetailsBlock">
                    <h4 id="nameOfC">{{ menu.user.name }}</h4>
                    <p id="emailOfC">{{ menu.user.email }}</p>
                    <button  id="update-profile-btn"  class="btn btn-primary"> Update</button>
                </div>

                
            </div>
            <div class="dashFirstItem editMenu">
                <!-- Edit Menu -->
                <div class="editMenublockDiscp">
                    <h1>Edit Menu </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quisquam iure explicabo Lorem ipsum dolor sit amet.</p>

                </div>
                <div class="editButtonBlock">
                    <span class="material-symbols-outlined">
                        menu_book
                        </span>
                    <a href="/client/category/"> <Button  class="btn btn-success">Edit</Button></a>
                </div>

            </div>
            <div class="dashFirstItem expBlock">
                <!-- Expires Date -->
                <div class="expFirstBlock">
                    <div class="expDateCount">
                        <h1>29</h1>
                        <p>Days left</p>
                    </div>
                    <div class="priceTage">
                        <h3>499/-</h3>
                    </div>

                </div>
                <div class="expDate">
                    <p>Your Plan will expire on <b> {{ menu.sub_date }} </b></p>

                </div>
                <div class="expPayButtons">
                    <button class="btn btn-primary">Details</button>
                    <button class="btn btn-success">Pay</button>
                </div>
            </div>
        </div>
        <!-- second block -->
        <div class="dashBSecondBlock">

            <div class="dash2ndItems socialMediablock">
                <!-- social media -->
                <div class="socialDiscp">
                    <h1>Social Media</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, molestias dolor est voluptatem ea commodi, pariatur temporibus labore consectetur sit numquam explicabo vel quibusdam!</p>
                </div>
                <!-- social icon and button -->
                <div class="socialMicons">
                    <button  id="open-sm-popup-btn" class="btn btn-primary">Activate</button>
                    <div class="iconGroupSocial">
                        <img src="{% static '/images/facebookBlack.png' %}" alt="" class="socialIconDash">
                        <img src="{% static '/images/googleBlack.png' %}" alt="" class="socialIconDash">
                        <img src="{% static '/images/instagramBlack.png' %}" alt="" class="socialIconDash">
                    </div>
                    <!-- side blur effect popup -->
                   
                </div>
            </div>
            <div class="dash2ndItems activeThemeblock">
                <!-- Active theme -->
                <h3>Active Theme</h3>
                <img src="{% static '/images/mmoDarkTheme.jpeg' %}" alt="" class="activeImgDash">
                <p>MMO Dark </p>
            </div>
            <div class="dash2ndItems changeThemeblock">
                <!-- change theme -->
                <h3>Change Theme</h3>
                <img src="{% static '/images/chooseTheme.png' %}" alt="">
                <button class="btn btn-success">Change <span class="material-symbols-outlined">
                    change_circle
                    </span></button>

            </div>

        </div>
    </div>

    <!-- -------pop ups--------- -->

    <div id="update-profile-section">

        <div class="profile-left">

            <img src="{% static '/images/profileMe.jpeg' %}" alt="" class="profile-img">
            <h4 class="profile-name">Praful Savarkar</h4>
            <h3 class="profile-email">prafulsavarkar77@gmail.com</h3>


        </div>

        <div class="profile-right">
            <div class="profile-heading">
                <h2>Profile</h2>
            </div>

           <div class="input-cont">
            <label for="">Name</label>

           <div>
            <input type="text" name="fname" id="" value="Praful" placeholder="Name">
            <input type="text" name="lname" id="" value="Savarkar" placeholder="Name">

           </div>
           </div>

           <div class="input-cont">
            <label for="">Email</label>
            <input type="email" name="email" id="email" value="prafulsavarkar77@gmail.com" placeholder="Email">
           </div>

           <div class="input-cont">
            <label for="">Phone</label>
            <input type="text" name="phone" id="phone" value="7798619989" placeholder="Phone">
           </div>

           <div class="input-cont">
            <label for="">Address</label>
            <input type="text" name="address" id="address" value="Gorewada road, Nagour" placeholder="Address">
           </div>

           <button   class="btn btn-primary"> Update</button>
           <button class="close_popup">X</button>



        </div>


    </div>

    <div id="sm-popup">

        <h3 class="sm-heading">Add Links to your socail media</h3>
        <input type="text" name="" id="" placeholder="Link to your instagram">
        <input type="text" name="" id="" placeholder="Link to your facebook">
        <input type="text" name="" id="" placeholder="Link to your google">
        <button  class="btn btn-primary"> Activate</button>
        <button class="close_popup">X</button>

        


    </div>
   
</body>
<script>
    // name and email lenght fix ...
    if(document.getElementById('nameOfC').innerHTML.length > 15){
  document.getElementById('nameOfC').innerHTML = document.getElementById('nameOfC').innerHTML.slice(0,13)+"..."
}
    
var profileCont = document.getElementById("update-profile-section");

document.getElementById("update-profile-btn").addEventListener('click',()=>{

    profileCont.style.display="flex";
    

});

document.getElementById("open-sm-popup-btn").addEventListener('click',()=>{

    document.getElementById("sm-popup").style.display="flex";
    // console.log("harshal");


});


var closePopup = document.getElementsByClassName("close_popup");

   closePopup[0].addEventListener('click',()=>{

        profileCont.style.display="none";
    


   });

   closePopup[1].addEventListener('click',()=>{

document.getElementById('sm-popup').style.display="none";



});


        
    

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>