{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="{% static '/css/styleDash.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/styleAdmin.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  </head>
  <body>
  
    
    <!-- <div class="mmoDashContainer" id="blur">
        <div class="dashBfirstBlock">
            <div class="dashFirstItem profileBlock">
                
                <div class="profileImg">
                    <img src="{% static '/images/profileMe.jpeg' %}" alt="">
                </div>
                <div class="profileDetailsBlock">
                    <h4 id="nameOfC">{{ menu.user.name }}</h4>
                    <p id="emailOfC">{{ menu.user.email }}</p>
                    <button  id="update-profile-btn"  class="btn btn-primary"> Update</button>
                </div>

                
            </div>
            <div class="dashFirstItem editMenu">
                
                <div class="editMenublockDiscp">
                    <h1>Edit Menu </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quisquam iure explicabo Lorem ipsum dolor sit amet.</p>

                </div>
                <div class="editButtonBlock">
                    <span class="material-symbols-outlined">
                        menu_book
                        </span>
                    <a href="/client/category/"> <Button  class="btn btn-success">Edit</Button></a>
                </div>

            </div>
            <div class="dashFirstItem expBlock">
                
                <div class="expFirstBlock">
                    <div class="expDateCount">
                        <h1>29</h1>
                        <p>Days left</p>
                    </div>
                    <div class="priceTage">
                        <h3>499/-</h3>
                    </div>

                </div>
                <div class="expDate">
                    <p>Your Plan will expire on <b> {{ menu.sub_date }} </b></p>

                </div>
                <div class="expPayButtons">
                    <button class="btn btn-primary">Details</button>
                    <button class="btn btn-success">Pay</button>
                </div>
            </div>
        </div>
      
        <div class="dashBSecondBlock">

            <div class="dash2ndItems socialMediablock">
               
                <div class="socialDiscp">
                    <h1>Social Media</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, molestias dolor est voluptatem ea commodi, pariatur temporibus labore consectetur sit numquam explicabo vel quibusdam!</p>
                </div>
                
                <div class="socialMicons">
                    <button  id="open-sm-popup-btn" class="btn btn-primary">Activate</button>
                    <div class="iconGroupSocial">
                        <img src="{% static '/images/facebookBlack.png' %}" alt="" class="socialIconDash">
                        <img src="{% static '/images/googleBlack.png' %}" alt="" class="socialIconDash">
                        <img src="{% static '/images/instagramBlack.png' %}" alt="" class="socialIconDash">
                    </div>
                    
                   
                </div>
            </div>
            <div class="dash2ndItems activeThemeblock" onclick="parent.location.href='/{{ menu.menu_link }}'">
                
                <h3>Active Theme</h3>
                <img src="{% static '/images/mmoDarkTheme.jpeg' %}" alt="" class="activeImgDash">
                <p>MMO Dark </p>
            </div>
            <div class="dash2ndItems changeThemeblock">
                
                <h3>Change Theme</h3>
                <img src="{% static '/images/chooseTheme.png' %}" alt="">
                <button class="btn btn-success">Change <span class="material-symbols-outlined">
                    change_circle
                    </span></button>

            </div>

        </div>
    </div> -->

    


<!-- -----------dashboard----------- -->

<div class="dashboard-container">

    <div class="side-des-nav">

        <img src="{% static 'assets/mmo-logo-color.png' %}" alt="" class="web-logo">

        <div class="nav-items">

            <button class="nav-btn  nav-btn-active" target="dash-home">
                <img class="nav-icon" src="{% static 'assets/home_png.png' %}" alt="">
                <p class="nav-btn-name" >Home</p>
            </button>
            <button class="nav-btn" target="dash-profile">
                <img class="nav-icon" src="{% static 'assets/profile_png.png' %}" alt="">
                <p class="nav-btn-name">Profile</p>
            </button>
            <a  href="/{{ menu.menu_link }}" >
                <img  style="margin-left: -2%;" class="nav-icon" src="{% static 'assets/foodmenu_png.png' %}" alt="">
                <p class="nav-btn-name">Menu</p>
            </a>
            <a href="/client/category" >
                <img style="margin-left: -2%;" class="nav-icon" src="{% static 'assets/category_png.png' %}" alt="">
                <p class="nav-btn-name">Category</p>
            </a>
            <button class="nav-btn" target="dash-QR">
                <img class="nav-icon" src="{% static 'assets/QR-code_png.png' %}" alt="">
                <p class="nav-btn-name">View QR</p>
            </button>
        </div>

        <a href="/client/logout/" class="log-out-btn"  onclick="logOut()"> <img src="{% static 'assets/logout.png'%}" alt=""> log out</a>
        

    </div>

    <div class="dash-upper">

        <h1 class="dash-heading">YOUR DASHBOARD</h1>

        <div class="dash-head-profile-sec">

            <h3>{{ menu.user.name }}</h3>
            <img src="{% static 'images/profileme.jpeg' %}" alt="">

        </div>

    </div>

    <div class="dash-content" >

        <div id="dash-home" class="dash-sub-cont" >
        <div class="small-card">

            <div class="small-left">
                <div class="small-para" id="view-para">
                    Today’s views on your menu
                </div>

                </div>

                <div class="small-right">
                    <img id="views-icon" src="{% static 'assets/eye-view.png' %}"></img>
                <div class="view-count">12</div>

                </div>
                
           
            
        </div>
        <div class="small-card  edit-card" >

            <div class="small-top">
                <div class="small-para" id="edit-para">Edit Your Menu</div>
                <img  src="{% static 'assets/edit-menu.png' %}" id="editMenu-icon"></img>
            </div>

            <a href="/client/category/" class="edit-btn">
                Click here !
            </a>


        </div>
        <div class="small-card edit-card">

            <div class="small-top">
                <div class="small-para" id="edit-para">Change Theme</div>
                <img  src="{% static 'assets/change_template.png' %}" id="editMenu-icon"></img>
            </div>

            <a href="/client/templates/" class="edit-btn" style="background: #186F65;">
                Change <img src="{% static 'img/arrow-icon.png' %}" alt="">
            </a>

        </div>
        <div class="large-card" id="social-media-card">

            <h3 class="large-heading" style="padding-left: 1.5vw;">Social Media</h3>

            <div class="social-bottom">
                <p class="social-para">" Connect with your patrons beyond the table, creating a community that shares the love for your cuisine."</p>

                <div class="social-icons" >
                    <img src="{% static 'assets/whatsapp_png.png'%}" style="height: 70%; width: 40px;" alt="">
                    <img src="{% static 'assets/insta_png.png'%}"  alt="">
                    <img src="{% static 'assets/google_png.png'%}" style="height: 70%; width: 40px;" alt="">
                </div>
    
                <button id="social-activate-btn"> Activate</button>
    
    
            </div>
           
            
        </div>
        <div class="large-card" id="active-theme-card">

            <h3 class="large-heading">Active Theme</h3>

            <img src="{% static 'assets/menu 3.png'%}" class="active-Theme-img" alt="">

            <h4 class="active-theme-name">MMO-dark</h4>

        </div>
        <div class="large-card" id="subscription-card">

            <div class="sub-price">499/-</div>
            <div class="days-left"><span>15</span>days left</div>


            <div class="plan-expire-para">Your plan will <br> expire on <br> <span>Dec. 20, 2023</span></div>

            <div class="sub-button">
                <button style="background: #186F65.90%; width: 130px;"> Details</button>
                <button style="background: rgba(13, 110, 253, 0.80); width: 100px;"> Pay</button>
            </div>



        </div>

    </div>

    <div  id="dash-profile" class="dash-sub-cont">

        <h3 class="profile-heading">Profile</h3>

        <div class="profile-bottom">

            <div class="profile-left">

                <div class="profile-img-cont">
                <img class="profile-img" src="{% static 'images/profileMe.jpeg' %}" alt="">
                <img src="{% static 'assets/edit_png.png'%}" alt="" class="edit-profile-btn">


                </div>
                <div class="profile-name-cont">

                    <h3>Spresso Cafe</h3>


                </div>

            </div>

            <div class="profile-right">

              
                <div class="input-cont">

                    <input type="text" id="user-res-name" value="Spresso Cafe">
                    <div class="input-name">Restaurant name <img src="{% static 'assets/restaurant_name_png.png'%}" alt=""></div>


                </div>
                <div class="input-cont">

                    <input type="text" id="user-name" value="Praful Sawarkar">
                    <div class="input-name">Owner name<img src="{% static 'assets/person_png.png'%}" alt=""></div>


                </div>
                <div class="input-cont">

                    <input type="text" id="user-address" value="Gorewada road, Nagpur">
                    <div class="input-name">Address</address><img src="{% static 'assets/adrress-png.png'%}" alt=""></div>


                </div>
                <div class="input-cont">

                    <input type="email" id="user-email" value="prafulsawarkar@gmail.com">
                    <div class="input-name">Email<img src="{% static 'assets/email-png.png'%}" alt=""></div>

                    
                </div>
                <div class="input-cont">
                    <input type="text" id="user-phone" value="7798619989">
                    <div class="input-name">Phone <img src="{% static 'assets/phone_png.png'%}" alt=""></div>


                </div>
                
                 <button class="update-btn">Update <img src="{% static 'assets/upload_png.png'%}" alt=""></button>

            </div>

        </div>

    </div>
    <div  id="dash-QR" class="dash-sub-cont">

        <h3 class="QR-heading">Your QR code
        </h3>

        <div class="QR-cont">

            <img src="\media\qrcodes\{image}.png" alt="QR code">

        </div>

        <div class="Qr-btns">
            <button class="print-btn">Print QR <img src="{% static 'assets/print_png.png'%}" alt=""></button>
            <button class="download-btn">Download QR <img src="{% static 'assets/download_png.png'%}" alt=""></button>
        </div>

        

    </div>
        
    </div>

  

</div>
    


   
</body>
<script>
    // name and email lenght fix ...
//     if(document.getElementById('nameOfC').innerHTML.length > 15){
//   document.getElementById('nameOfC').innerHTML = document.getElementById('nameOfC').innerHTML.slice(0,13)+"..."
// }

   let nav_btn = document.getElementsByClassName("nav-btn");
   let nav_btns_array = Array.from(nav_btn);

   nav_btns_array.forEach(function (button) {
        button.addEventListener('click', (event) => {
            // Use closest to find the closest ancestor with the class "nav-btn"
            const targetButton = event.target.closest('.nav-btn');

            
            let childarray=Array.from(targetButton.parentNode.children);

            childarray.forEach(function (e) {

                e.classList.remove("nav-btn-active");               
            });

            targetButton.classList.add("nav-btn-active")
            let display_target=targetButton.getAttribute('target')
            let dash_conts_array= Array.from(document.querySelectorAll('.dash-sub-cont'));
            console.log(dash_conts_array);
            dash_conts_array.forEach(element => {

                element.style.display="none";
                
            });
            document.getElementById(display_target).style.display='flex';
        });
   });

    const dash_home = document.getElementById('dash-home');
    const dash_profile = document.getElementById('dash-profile');
    const dash_qr= document.getElementById('dash-QR');

</script>
</html>