{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Psudo Panel</title>
</head>
<body>
    {% include 'client/navBar.html' %}

    <a  href="/client/logout">logout</a>
    <h1>WELCOME {{request.user}} TO CLIENT PANEL</h1>
    
    {% if dailyVisitors %}
    <p>Today's total visitors are {{dailyVisitors.Daily_visitors}} | Date: {{dailyVisitors.date}}</p>
        
    {% endif %}
    {% if menu.qrcode %}
    To view your qr code <a href="{{menu.qrcode.url}}">click Here!</a>
    {% endif %}
        
    <p>To preview you menu <a href="http://127.0.0.1:8000/{{menu.menu_link}}" target="_blank">click here</a></p>
    <p>To preview and add Categories <a href="/client/category/">Click Here!</a></p>
    <!DOCTYPE html>
<html lang="en">
<head>
</body>
</html>