<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link rel="stylesheet" href="/static/css/templatePage.css">
</head>
<body>

    <div class="nav-cont">
        <nav class="navbar">

            <div class="logo"><img src="/static/img/whiteTextMMO-removebg-preview.png" alt=""></div>
            <ul class="nav-tabs">
    
                <li class="nav-btn"><a href="">Home</a></li>
                <li class="nav-btn"><a href="/client/template.html">Templates</a></li>
                <li class="nav-btn" id="admin-btn"><a href="/client/psudoPanel">Admin</a></li>
                <li class="nav-btn"><a href="">Contact</a></li>
                <li class="nav-btn"><a href="">About US</a></li>
            </ul>
    
            
    
           
    
        </nav>
    </div>

    <div class="dark-back">


        <div class="template-heading-cont">
            <h4>TEMPLATES</h4>
            <p>- Every great design begins with an even better story -</p>
            
        </div>

        <hr style="width: 2%; height: 2px; color: aliceblue; margin-top: 5px;"> 


        <div class="template-section">

            <div class="template-card">
                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp1.png" alt="" class="template_img">
                
            </div>
            <div class="template-card">
                
                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp2.png" alt="" class="template_img">

            </div>
            <div class="template-card">

                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp3.png" alt="" class="template_img">

            </div>
            <div class="template-card">

                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp4.png" alt="" class="template_img">

            </div>
            <div class="template-card">

                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp2.png" alt="" class="template_img">

            </div>
            <div class="template-card">

                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp3.png" alt="" class="template_img">


            </div>
            <div class="template-card">

                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp1.png" alt="" class="template_img">


            </div>
            <div class="template-card">

                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp4.png" alt="" class="template_img">


            </div>
            <div class="template-card">

                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp2.png" alt="" class="template_img">


            </div>
            <div class="template-card">

                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp1.png" alt="" class="template_img">


            </div>
            <div class="template-card">

                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp3.png" alt="" class="template_img">


            </div>
            <div class="template-card">

                <button class="template-preview-button"><img src="/static/img/preview.png" alt=""></button>
                <button class="threeDots"><img src="/static/img/threeDots.png" alt=""></button>
                <img src="/static/img/Temp4.png" alt="" class="template_img">


            </div>




        </div>

        

        


    </div>
    <footer class="footer">

        <div class="footer-top">

            <hr class="footer-top-line">
            <div class="footer-heading">
                <img src="/static/assets/mmo-logo-white.png" alt="">
            </div>
            <hr class="footer-top-line">

        </div>

        <div class="footer-mid">

            <div class="side-mid">

                <p>Features</p>
                <p>About</p>
                <p>Terms and Condition</p>

            </div>

            <div class="mid-mid">

                <div class="sub-mid"> <img src="/static/assets/whatsapp.png" alt="" class="footer-icon-img">
                    </div>
                <div class="sub-mid">
                    <img src="/static/assets/phone.png" alt="" class="footer-icon-img">
                    <hr class="mid-line">
                </div>
                    
                    <div class="sub-mid"><img src="/static/assets/email.png" alt="" class="footer-icon-img"></div>
                
                


            </div>

            <div class="side-mid">

                <p>Contact</p>
                <p>Templates</p>
                <p>Login</p>
                


            </div>

        </div>

        <div class="footer-bottom">
            <span><img src="/static/assets/copyright.png" alt=""></span>2023 MyMenuOnline. All rights Reserved
        </div>

        

    </footer>

    

    
    
</body>
</html>